<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-checkbox (ionChange)="errorChanged()" [(ngModel)]="isError"> tis wrong, yo!</ion-checkbox>
  </div>

  <div>&nbsp;</div>

  <div>
    <ion-checkbox #ionicCB aria-errormessage="errorMessageId" id="ionicCB"> Ionic Checkbox </ion-checkbox>
    <div>
      <ion-note color="danger" id="errorMessageId">
        <span>Ionic Checkbox is in error</span>
      </ion-note>
    </div>
  </div>

  <div>&nbsp;</div>

  <div>
    <input #plainCB type="checkbox" aria-errormessage="plainErrorMsgId" id="plainCB" />
    <label for="plainCB">Plain Checkbox</label>
    <div id="plainErrorMsgId">I am a plain CB error</div>
  </div>
</ion-content>
