<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>&nbsp;</div>

  <div>
    <ion-checkbox
      #ionicCB
      aria-errormessage="errorMessageId"
      id="ionicCB"
      [(ngModel)]="ionicIsChecked"
      (ionChange)="ionicCbChanged()"
    >
      Ionic Checkbox
    </ion-checkbox>
    <div role="region" aria-live="polite">
      <ion-note #ionicCBError class="hiddenmessage" color="danger" id="errorMessageId">
        <span>The Ionic Checkbox cannot be checked at this time</span>
      </ion-note>
    </div>
  </div>

  <div>&nbsp;</div>

  <div>
    <input
      #plainCB
      type="checkbox"
      aria-errormessage="plainErrorMsgId"
      id="plainCB"
      [(ngModel)]="htmlIsChecked"
      (change)="htmlCbChanged()"
    />
    <label for="plainCB">Plain Checkbox</label>
    <div role="region" aria-live="polite" #plainCBError class="hiddenmessage" id="plainErrorMsgId">
      The Plain HTML Checkbox cannot be checked at this time
    </div>
  </div>
</ion-content>
